# Project exclude paths
/target/
/.idea/
# Default ignored files
/shelf/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/server/.idea/
/server/wti_fneial.iml
/server/target/
